<!DOCTYPE html>
<html>
   <head>
      <title>Shiftscheduler.com</title>
   </head>
   <body onload='getURL({{monday}}, 1)'>
      {% include 'header.html' %}
      <h1>This Week's Calendar:</h1>
      <table border="5" cellpadding="10" cellspacing="5">
         <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
         </tr>
         <tr>
            <td>{{monday.strftime("%B %d")}}</td>
            <td>{{tuesday.strftime("%B %d")}}</td>
            <td>{{wednesday.strftime("%B %d")}}</td>
            <td>{{thursday.strftime("%B %d")}}</td>
            <td>{{friday.strftime("%B %d")}}</td>
            <td>{{saturday.strftime("%B %d")}}</td>
            <td>{{sunday.strftime("%B %d")}}</td>
         </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!--Saturday Brunch-->
            <td>
               <a href = '/shiftdetails?date=2020-03-28&taskid=7'> Manager</a>
               <br><a href = '/shiftdetails?date=2020-03-28&taskid=8'> First Brunch</a>
               <br><a href = '/shiftdetails?date=2020-03-28&taskid=9'> Second Brunch</a>
            </td>
            <!--Sunday Brunch-->
            <td>
               <a href = '/shiftdetails?date=2020-03-29&taskid=7'> Manager</a>
               <br><a href = '/shiftdetails?date=2020-03-29&taskid=8'> First Brunch</a>
               <br><a href = '/shiftdetails?date=2020-03-29&taskid=9'> Second Brunch</a>
            </td>
         </tr>
         <tr>
            <!--Monday Dinner-->
            <td>
               <a href = '/shiftdetails?date=2020-03-23&taskid=1'> Manager</a>
<!--               <a href = '/shiftdetails' id="mon_din_man">Manager</a>-->
               <br><a href = '/shiftdetails?date=2020-03-23&taskid=2'> First Dinner</a>
               <br><a href = '/shiftdetails?date=2020-03-23&taskid=3'> Second Dinner</a>
               <br><a href = '/shiftdetails?date=2020-03-23&taskid=4'> Dish Manager</a>
               <br><a href = '/shiftdetails?date=2020-03-23&taskid=5'> First Dish</a>
               <br><a href = '/shiftdetails?date=2020-03-23&taskid=6'> Second Dish</a>
<!--                <div onclick="showDets()">Click me to toggle the popup </div>-->
            </td>
            <!--Tuesday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
            <!--Wednesday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
            <!--Thursday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
            <!--Friday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
            <!--Saturday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
            <!--Sunday Dinner-->
            <td>Manager<br>First Dinner<br>Second Dinner<br>Dish Manager<br>First Dish<br>Second Dish</td>
         </tr>
      </table>

      <br>
      <strong>{{errorMsg}}</strong>    
      <br>
      <br>
      <br>
      {% include 'footer.html' %}
   <script>
      function getURL(date, taskid) {
         document.getElementById("mon_dinner_manager").href = '/shiftdetails?date=' + date + '&taskid=' + taskid
      }
      function showDets(){
          alert('insert details');
      }
   </script>
   </body>
</html>